:where(.table *:first-child) :where(*:first-child) :where(th, td):first-child {
	border-top-left-radius: 0.5rem /* 8px */;
}
:where(.table *:first-child) :where(*:first-child) :where(th, td):last-child {
	border-top-right-radius: 0.5rem /* 8px */;
}
:where(.table *:last-child) :where(*:last-child) :where(th, td):first-child {
	border-bottom-left-radius: 0.5rem /* 8px */;
}
:where(.table *:last-child) :where(*:last-child) :where(th, td):last-child {
	border-bottom-right-radius: 0.5rem /* 8px */;
}

.test {
	background-color: brown;
}
